@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}



.wrapper-body{
  @apply lg:w-[1280px] mt-6 mx-2 mb-0 overflow-hidden;
}

/* navbar */
.menuItem {
  @apply relative hover:text-black;
}
.menuItem::after {
  @apply content-[''] bg-mainColor h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300;
}

.menuItem:hover::after {
  @apply w-[100%];
}

.activeNavbar {
  @apply text-mainColor px-2 py-1 hover:border-none;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}



.filter{
  backdrop-filter: blur(1px);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: auto !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videoDiv {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 70%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto 0;
  border-radius: 10px;
  overflow: hidden;
}

/* file upload */
.progress__wrapper > .upload__progress__container.default .progress{
  @apply w-0 bg-transparent
}

.progress__wrapper > .upload__progress__container.bad{
  @apply border-[#fc605b]
}

.progress__wrapper > .upload__progress__container.bad .progress{
  @apply w-0 bg-[#fc605b]
}

.progress__wrapper > .upload__progress__container.fair{
  @apply border-[#ffbb55]
}

.progress__wrapper > .upload__progress__container.fair .progress{
  @apply w-0 bg-[#ffbb55]
}

.progress__wrapper > .upload__progress__container.good{
  @apply border-[#33c648]
}

.progress__wrapper > .upload__progress__container.good .progress{
  @apply w-0 bg-[#33c648]
}

.progress__wrapper .text.default{
  @apply text-white
}

.progress__wrapper .text.bad{
  @apply text-[#fc605b]
}

.progress__wrapper .text.fair{
  @apply text-[#ffbb55]
}

.progress__wrapper .text.good{
  @apply text-[#33c648]
}
