@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.filter{
  backdrop-filter: blur(1px);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: auto !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videoDiv {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 70%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto 0;
  border-radius: 10px;
  overflow: hidden;
}