@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}



.wrapper-body{
  @apply w-[1024px] mt-16 mx-auto mb-0
}

/* navbar */
.menuItem {
  @apply relative hover:text-black;
}
.menuItem::after {
  @apply content-[''] bg-mainColor h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300;
}

.menuItem:hover::after {
  @apply w-[100%];
}

.activeNavbar {
  @apply text-mainColor px-2 py-1 hover:border-none;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}



.filter{
  backdrop-filter: blur(1px);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: auto !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videoDiv {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 70%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto 0;
  border-radius: 10px;
  overflow: hidden;
}